[2019-07-01 00:25] wezm opened #1 "Publish release?"
diffr looks like a handy tool. I'd love to create and [AUR](https://aur.archlinux.org/) package for it. It's best to build these against published releases instead of straight from git master though. I would be great if you could tag a [release](https://help.github.com/en/articles/creating-releases).

[2019-07-01 05:40] dpc opened #2 "I really need this crate as a library. :)"
In upcoming release `cargo-crev` will have `cargo crev diff` command. Underneath it calls `diff -r <src> <dst>` on two directories. I was thinking ... "I'll start with this, and switch to some library later". And now I see reddit post about this. :)

Anyway... Please split this crate in two (or more) parts: one binary and library. This way I can just import it, and not rely on `diff` binary (plus

[2019-07-01 16:55] ericfreese opened #3 "Would be nice to be able to customize highlight colors somehow"
Not sure how this would be best implemented, but it would be nice to be able to specify different colors/highlighting styles.

[2019-07-01 19:00] mookid commented on #3
The implementation is not a problem, this is all handled by the [termcolor](https://github.com/BurntSushi/termcolor) crate.

Note that all color options will not work (or have the same effect) on all OSs, and I would like to keep the default configuration to be something that works everywhere (in particular on Windows).

The main issue I see is what command line arguments to provide. What do other

[2019-07-01 19:21] mookid commented on #2
Sure. The scope of the library will probably be the following:

Compare two tokenized slices of bytes (`struct Tokenization`) and emit the set of shared tokens (`struct Snake`) in the longest common subsequence of the two slices (the function `diff`).

The user of the library will have to
+ specify the tokenization (subject to change in diffr)
+ consume the LCS.

As diffr only consumes bytes (actu

[2019-07-01 19:38] ericfreese commented on #3
What would you think of a config file in `$XDG_CONFIG_HOME`? It could be a simple key value pair where the key specifies the thing to be styled and the value specifies the style for it. Could have an alternate API as well where those keys/values are provided/overriden by either environment variables or arguments.

Could possibly use git for inspiration? See the `color` section under https://manpag

[2019-07-01 19:39] dpc commented on #2
I'm totally ignorant about `diff`ing.  All I  know is just how to look at the diff output and annoy other developers but pointing out all the tiny unimportant mundane mistakes they made.

About the scope: if you think something shouldn't be in the scope of `diffr` that's all fine. But please point potential users to other crates that might play well together with `diffr` by implementing the other

[2019-07-01 20:11] mookid commented on #2
You probably want something to walk a directory tree to find the changed files (something like [walkdir](https://github.com/BurntSushi/walkdir)) and once you know the set of changed files, code from this repository should generate the diff data for you.

For additional information about diffs in general, the Myers algorithm linked on the README will contain all that you need. I will add comments a

[2019-07-01 20:25] mookid commented on #3
Thanks for the input! I will take a look at how some projects provide that info among other unix tools, but that spec is quite attractive. Another alternative would be [ripgrep format](https://github.com/BurntSushi/ripgrep/blob/7b3fe6b3251a18d2b8d3efe7ee6a85c9e9e4e565/FAQ.md#colors).

I was more thinking about process flags with arguments rather than (yet another) config file
+ mostly because I us

[2019-07-01 20:44] mookid commented on #1
Thanks for the suggestion!

Let me know if you make any progress. Because I am not familiar at all with AUR, please let me know the installation procedure so that I can update the README accordingly.

[2019-07-01 21:05] ericfreese commented on #3
Flags work for me too. They can always be encapsulated in a shell alias/function :+1:

[2019-07-02 15:17] nico-abram opened #4 "Is there a way to compare 2 files on windows?"
Ideally without requiring additional tools. I tried `fc file1 file2 | diffr` but it didn't work (I've heard fc is the equivalent of the diff command from linux). I'm on window 7 so I  can't ue WSL, and I'd rather not have to install cygwin just to compare 2 files.

[2019-07-02 15:45] mookid commented on #4
This will not work because fc.exe does not seem to emit diff in unified format.

For a native port of diff, you can try
+ [diffutils from chocolatey](https://chocolatey.org/packages/diffutils)
+ if you have git installed, `git diff --no-index <file1> <file2>` works as well

[2019-07-02 16:21] mookid commented on #4
By the way, I am interested to hear a report of diffr working on windows 7 (which it is supposed to, but I did not have the chance to test yet).

[2019-07-02 20:51] nico-abram commented on #4
Seems to work fine with git. Sorry!

[2019-07-02 20:51] #4 closed

[2019-07-02 22:02] nico-abram opened #5 "Seems to hang forever if given no parameters"
At least on window 7 `diffr` seems to hang forever.

[2019-07-02 22:58] mookid commented on #5
This is intended. You are supposed to give it some text from stdin.

See the [README](https://github.com/mookid/diffr#how-to-use-it) or the command line help: `diffr -h` says

[code]

[2019-07-03 01:02] nico-abram commented on #5
What about adding a flag to read from stdin? That way you can show the help msg if someone runs `diffr`

[2019-07-03 18:39] carenas commented on #5
alternatively, PR #7 could help with this

[2019-07-03 21:00] #1 closed

[2019-07-03 21:01] mookid commented on #1
Great! thanks for the help!

[2019-07-06 11:30] for-coursera opened #10 ""error: Unknown option" while building"
Could please help me compiling your project a bit :)

First, I have `rustup` 1.18.3 (435397f48 2019-05-22) and `cargo` 1.36.0 (c4fcfb725 2019-05-15) installed. And `$HOME/.cargo/bin` is present in my `$PATH`.

Now, I cloned your repository, and if I try to run `cargo build` in it, it installs crates (I see those in `$HOME/.cargo/registry/index`) and then fails saying **"error: Unknown option"**.

[2019-07-08 11:05] OJFord opened #11 "diff-highlight comparison screenshots"
It'd be handy to show a motivational side-by-side with `diff-highlight` (on the same diff) in the readme.

[2019-07-10 20:18] mookid commented on #5
Hi @nico-abram,

This is fixed by 83b1201.

@carenas thanks for the contribution!

[2019-07-10 20:18] #5 closed

[2019-07-14 14:11] mookid commented on #10
hi @for-coursera,

I am a bit puzzled about your issue.

First of all, you probably want to use cargo to build the dependencies (clap and termcolor) and not call rustc directly yourself.

I set up the CI build, which should at least give you a recipe to build the project.

What is the output of `cargo build --verbose`?

[2019-07-14 15:45] for-coursera commented on #10
Same:

    diffr> cargo build --verbose
        Updating crates.io index
    error: Unknown option

(Just in case, it does updates crates in the process.)

Could it be related to my macOS being too old? `cargo` is all fresh, though.

[2019-07-14 17:40] mookid commented on #10
I think it is a good issue for the cargo people indeed. I will not be able to reproduce it.

What is your version of osx?

[2019-07-14 17:56] #10 closed

[2019-07-15 19:56] #3 closed

[2019-07-15 19:57] mookid commented on #3
merged #9. This should allow users to configure the tool output as they like.

[2019-07-15 20:09] ericfreese commented on #3
Thanks @mookid :tada:

[2019-07-20 00:26] mookid opened #14 "Improve"
See https://scripter.co/git-diff-minified-js-and-css/

On the repository https://github.com/gohugoio/hugoDocs, `git log -p -- themes/gohugoioTheme/static/dist/app.bundle.js  | diffr ` takes ~9min on my machine.

One problematic commit: 0960c5fb36e9abcf3b492a523943268e89066543

Explore possible workarounds:
- stop LCS when the middle snake is good enough?
- delect long lines?

[2019-07-22 08:18] ghuls opened #15 "highlights unchanged parts."
`diffr` seems to highlight unchanged parts. At least when there are a different number of leading spaces and dashes following those spaces.

[code]
The second dash in `--def` is colored in read, which shouldn't be the case.

[code]

In this case the following dashes are highligthed:
  - `-01234` : first dash
  - `--abc`: second dash
  - `--poi`: second dash

In both cases it should only highlight

[2019-07-22 14:24] mookid commented on #15
Thanks for the detailed report! I'll investigate further.

[2019-07-24 23:53] mookid commented on #15
Thanks @ghuls !

For the record: the LCS computed was correct (the concatenation of all the non-highlighted parts on added and removed are identical). The issue was that the LCS was computed on a stream of token containing the line markers.

[2019-07-25 08:38] ghuls commented on #15
Another issue now with the following diff.

The `--include` and `--include` lines are highlighted completely (worked before).

[code]

[2019-07-26 17:54] rjbell4 opened #16 "I am not getting colors"
I am only getting bold text for all changes, no colors.  Are there some term requirements?  Or required options that I am missing? `diff-highlight` works fine (by default)

[2019-07-26 18:01] mookid commented on #16
Hi @rjbell4,

What is your os/version? Requirements are supposed to be just windows >=7, or any osx/linux version.

Edit: and if on windows, are you using CMD.exe, git-bash/cygwin, or something else?

[2019-07-28 22:20] rjbell4 commented on #16
@mookid I'm running on CentOS.  I'm connecting from a Windows machine using PuTTY.

[2019-08-04 00:13] #15 closed

[2019-08-17 19:38] rpdelaney opened #18 "Feature req: Italics style support"
Not all terminals support italics, but the one I use does! I think it could make some intuitive styles for refined text.

[2019-08-17 20:10] rpdelaney commented on #18
I can get this effect in my terminal with `tput sitm` and end with `tput ritm`.

There's also a dim effect with (appropriately) `tput dim`.

[2019-08-17 20:20] mookid commented on #18
hi @rpdelaney ,

this is a feature request for [termcolor](https://github.com/BurntSushi/termcolor/issues/15).
If the feature request lands there, I will be happy to support a new attribute.

I may give it a try but don't hold your breath.

[2019-08-17 20:30] rpdelaney commented on #18
Third time's a charm.

It does look like [crossterm](https://docs.rs/crossterm/0.9.5/crossterm/index.html) supports more of these offbeat styles.

Would there be any way to allow a user to define their own pass-through values? Something like (just brainstorming here):

[code]

[2019-08-17 20:32] rpdelaney commented on #18
Nah that won't work, the shell will evaluate it before passing it to diffr. Maybe env vars would be better?

[code]

[2019-08-17 21:20] mookid commented on #18
I would really avoid such solutions for the following reasons:
+ I would like configuration of diffr to be minimal (only command line args, no environment variable or whatever)
+ I would prefer to have the same kind of feature set for all such tools.

So progress on this will pass by improvements in diffr's dependencies.

[2019-08-18 02:35] rpdelaney commented on #18
Fair enough. Thank you for filing the PR upstream. I'll follow that and leave it to you when to close this issue. Thanks! This is a neat tool.

[2019-08-27 22:34] mookid commented on #2
Hi @dpc,

I published [diffr-lib](https://crates.io/crates/diffr-lib) with reusable bits from diffr.

Let me know if there is anything I can do to help you improve `cargo-crev` :)

[2019-08-27 23:52] dpc commented on #2
I'll get to this eventually. I think we can close this for now. Thanks a lot!

[2019-09-02 21:31] mookid opened #19 "Don't highlight leading spaces"
For performance reason, consecutive whitespaces are considered one word. The downside of this design decision is that when lines differ on the indentation, leading spaces are highlighted, which gives little interesting information:

![image](https://user-images.githubusercontent.com/7757342/64133893-d401dd00-cdd9-11e9-83dd-a5078fccb236.png)

One possible improvement would be either
- never highlig

[2019-09-02 21:37] mookid opened #20 "line wrapping"
On a diff with very long lines, diffr helps but reading unified diff is still hard.

Implement a flag that wraps long lines before highlighting differences.  This is almost as running `diff -u file1 file2 | fold | diffr` instead of `diff -u file1 file2 | diffr`, except that the fold command is aware of leading "+/-" characters.

see https://blog.robertelder.org/terminal-diff-tool/ that tries to do

[2019-09-03 23:30] noc7c9 opened #21 "Feature Request: line numbers"
Not sure if this is out of scope for this project but I've always wanted line numbers for diffs instead of the `@@ -xxx,y +xxx,y @@` syntax. Would be especially useful when there are large chunks.

Something like
[code]

[2019-09-04 00:51] upsuper commented on #16
I'm not getting colors either. The diff parts are just grey for me.

It's macOS 10.14.6 with the builtin Terminal.

[2019-09-04 19:59] mookid commented on #16
@upsuper thanks for the report. I should be able to reproduce it.

[2019-09-04 20:07] mookid commented on #21
@noc7c9 Thanks for the suggestion! This can be supported with a certain flag.

Out of scope would be something that involves complicated parsing; adding a line number that can be easily computed is completely reasonable. However, finding a spec of the unified diff format will confirm that the line number format is uniform between most diff tools.

However, note that in your example, line numbers a

[2019-09-05 01:35] noc7c9 commented on #21
The line numbers issue was something I realized when I made the issue. At the time, I decided it made the most sense to display only the new line numbers.

If you do think having both would make more sense, here's a possible formatting (on a more complex diff)

The idea is to have two columns of line numbers, old and new.
[code]

The following could also be an option if we only display the new lin

[2019-09-05 21:51] mookid commented on #16
@upsuper Does it work on iterm2?

I was able to reproduce it. ~~It seems that asking for non-rgb colors works: does `diffr --colors refine-added:background:green  --colors added:foreground:green --colors refine-removed:background:red  --colors added:foreground:green` print any color?~~

As a temporay workaround, you can get a 16 colors version with:
[code]

reported https://github.com/BurntSushi/t

[2019-09-06 13:39] rjbell4 commented on #16
I can confirm that I get colors with the workaround

[2019-09-06 23:46] upsuper commented on #16
As noted in BurntSushi/termcolor#21, it seems the problem is that `diffr` by default uses true color, which isn't widely supported (at least not in macOS's terminal).

I guess it may make sense to at least detect what colors the current terminal supports, and apply a default settings accordingly.

[2019-09-07 13:30] mookid commented on #16
@upsuper 136b16f9498dff20c9ef1a627ed258c108b05994 should make it work on most terminals.

Thanks again for the bug report!

@rjbell4 I won't bee able to reproduce your setup. Please let me know if there is any progress here.

[2019-09-07 13:33] upsuper commented on #16
@mookid thanks for the fix!

[2019-09-07 15:11] mookid commented on #16
I did not see that message, sorry. Let's close for now and reopen if any issue appears again.

[2019-09-07 15:11] #16 closed

[2019-09-10 09:15] kgrz opened #24 "Avoid skipping dots and other special chars"
I've put up a repo for demonstrating this: https://github.com/kgrz/diffr-issue

I've seen this happen with dots, hyphens, `=` and some words too. Another example:

![Screenshot 2019-09-10 at 14 44 53](https://user-images.githubusercontent.com/400299/64600923-96a0df00-d3d9-11e9-884c-4b0cc8a1f0a3.png)

[2019-09-10 09:19] kgrz commented on #24
I rechecked this with a dark theme, without any extra configs for diffr v0.1.2:

![Screenshot 2019-09-10 at 14 47 40](https://user-images.githubusercontent.com/400299/64601182-1a5acb80-d3da-11e9-93a3-1160ebc278df.png)

Ignore the part with the blue background. That's just search result highlighting in less.

[2019-09-10 10:39] mookid commented on #24
Ok, so the issue is this diff:
![image](https://user-images.githubusercontent.com/7757342/64606851-7ff18c80-d3c7-11e9-8b0a-3cc4fce0bf2d.png)

dot is treated as a word of its own, and is part of the LCS in the first diff:
the . following 10 matches the one following example.

This allows to highlight finer differences: for instance,

[code]

diffr should highlight baz and baq, rather than the whole

[2019-09-11 11:42] mookid opened #25 "Support --color-moved"
Currently, diffs obtained from git with the --color-moved flag parsed and re-highlighted completely, and the code move special highlighting is lost.

The color-moved information should be preserved.

[2019-09-19 08:44] atweiden opened #26 "Leading +,- in diffs should receive common segment highlighting per GitHub"
Currently, in diffr's output, the leading `+` and `-` are highlighted with unique segment highlighting. This is not how GitHub diffs work, where the leading `+` and `-` receive common segment highlighting.

Relative to GitHub, diffr's current behavior is visually distracting. The leading `+` or `-` would be better off receiving common segment highlighting.

[2019-09-19 13:55] mookid commented on #26
I am not sure to understand what you mean.

Do you mean that, for instance,
![image](https://user-images.githubusercontent.com/7757342/65249760-d2802680-daf4-11e9-9403-ae29e24a3c3a.png)

the refined highlighting starts at 'let app' rather than at column 0? if so, see #19

[2019-09-22 00:31] dtolnay opened #27 "Prioritize common prefix"
[code]

In this diff, diffr aligns the space in the removed line with the space in the middle of the added line, rather than the space in the common prefix of both strings.

![diffr](https://user-images.githubusercontent.com/1940490/65380627-0e9dbd80-dc94-11e9-9e8e-a01d2c679a83.png)

Is this a limitation of the algorithm or something that can be fixed on your end? It would be nicer to prioritize m

[2019-09-22 00:42] dtolnay commented on #27
Another example that comes out wrong:

![diffr](https://user-images.githubusercontent.com/1940490/65380749-fa0ef480-dc96-11e9-862f-a5fa73337729.png)

Again it would be better to prioritize the common prefix and highlight 5 trailing adjacent `^` as added.

[2019-09-24 04:15] mookid commented on #27
Hi @dtolnay

Thanks for the sugestion and the examples. I will take a look soon.

[2019-09-24 09:14] mookid commented on #27
Greedily expanding the snakes as much as possible is never a pessimization, but can also miss global extrema.

In other words, given the result yielded by diffr-lib:
[code]

the second snake can be extended one byte to the left (reducing the count of snakes by one) and this is always a win:
[code]

The best solution to the problem of minimizing the number of snakes projecting to a given LCS would

[2019-09-26 10:51] davidtwco opened #29 "Allow specifying binary path in tests"
Currently, the path that the tests use to find the `diffr` binary expects that the tests are being run from cargo:

https://github.com/mookid/diffr/blob/2c87325657d90cba26cbf3b569c9be11c4995b78/src/test_cli.rs#L59-L65

This can cause issues when packaging diffr for distributions (see NixOS/nixpkgs#69505, where `doCheck = false` disables running the package's tests).

It would be great if there was

[2019-09-28 20:00] #29 closed

[2019-09-29 18:28] Hi-Angel opened #31 "[RFE] Use white as default color for letters"
First of all, thanks for the better diff-highlight utility!

I was comparing `diffr` with the standard `diff-highlight` as provided by git, and although `diffr` gives better results, I noted its output somehow was less comfortable to look at. See:

git's `diff-highlight`:

![Screenshot_20190929_212204](https://user-images.githubusercontent.com/7935057/65837389-7fca1a00-e2ff-11e9-842d-fb433899dd32.

[2019-09-29 18:49] Hi-Angel commented on #31
Btw, worth noting that `diffr` screenshots in README has white-colored letters. Looks like something has changed since then.

[2019-09-29 21:29] mookid commented on #31
@Hi-Angel can you please try to get the ANSI escape sequences for each screenshot?

[2019-09-29 21:41] Hi-Angel commented on #31
Hmm… I'm trying to get them with `--color=always` to git, as in

[code]

but for some reason the escape sequences around `.web_view` text are always missing…

[2019-09-29 21:45] Hi-Angel commented on #31
Yay, I managed to do it! Here it is:

[diff-highlight-escape-output.txt](https://github.com/mookid/diffr/files/3668165/diff-highlight-escape-output.txt)
[diffr-escape-output.txt](https://github.com/mookid/diffr/files/3668166/diffr-escape-output.txt)

FTR: I obtained them as:
[code]

[2019-09-29 22:54] mookid commented on #31
Thanks for the report.
Note that on windows/cmd.exe, setting white makes no difference but degrades the output on osx/terminal (the white is a weird not-really-white foreground color).

What os/terminal emulator are you using?

Note that a workaround to patching the default value in the code is to use the --colors option to set it: `--colors refine-added:foreground:white`

[2019-09-30 06:32] Hi-Angel commented on #31
I looked at the escape outputs, as I see the `diff-highlight` doesn't actually set background nor foreground. It inverts colors instead, and the colors themselves apparently being added by git. I wonder if it makes sense to do the same for `diffr`, and if it would fix problems on all platforms?

Archlinux/Konsole.

Yeah, thanks, I mentioned  it in [my answer on stackoverflow](https://stackoverflow

[2019-09-30 07:06] Hi-Angel commented on #31
Alternatively, I could add platform detection to my PR, so white would be the default everywhere except the OS X.

[2019-09-30 17:24] mookid commented on #31
Thanks for the advertising!

Let's keep it simple and avoid that. Given that it seems to be a strict improvement in most cases, I think that your solution is the best one. Let's go with it at least for now.

[2019-09-30 17:25] #31 closed

[2019-10-08 08:54] atweiden commented on #26
![github-diffr-issue-26](https://user-images.githubusercontent.com/1638172/66381616-286e2d00-ea16-11e9-83eb-a783eeb25950.png)

[2019-10-08 18:44] s-mage opened #33 "Wrong-looking edge cases"
Hey!

First of all, you made a great tool, thank you.
I've brought you some examples where diffr works unexpected.

<img width="802" alt="Screenshot 2019-10-08 at 20 38 41" src="https://user-images.githubusercontent.com/2388396/66423270-a6790680-ea0b-11e9-98ee-3ffc55d5ab60.png">

[diffr-weirdness-left.txt](https://github.com/mookid/diffr/files/3704029/diffr-weirdness-left.txt)
[diffr-weirdness-rig

[2019-10-09 12:06] mookid commented on #33
Hi @s-mage, thanks for the report!

There is little I can do about this. It may or may not improve in the future with changes in the algorithm.

#27 should help with this one.

I can't observe that on my machine. Can I get more info about your terminal setup?

[2019-10-09 12:36] s-mage commented on #33
Sure, but what info do you need? It's iterm2 on macos, a font with ligatures (fira code)

[2019-10-09 14:07] s-mage commented on #33
or maybe you use version from master, and I'm on 0.1.2

[2019-10-09 18:28] mookid commented on #33
I will try to repro on my mac machine.

[2019-11-13 05:21] mookid commented on #27
Hi @dtolnay,

I am working on an improvement; after computing the longest common susequence, I need to figure out the "best" partition of both parts of the diff (ie, the one minimizing the number of different segments). I'll let you know here when I have some code that you can test.

[2019-11-17 02:17] #26 closed

[2019-11-17 02:17] #19 closed

[2019-11-25 21:44] mookid commented on #27
@dtolnay I wrote some code that corresponds to the spec I have in mind; please let me know if the result corresponds to something like what you are looking for.

[2019-11-26 07:13] dtolnay commented on #27
Thanks @mookid, I tested it in https://github.com/dtolnay/trybuild/pull/27 against some projects and it is definitely a lot better. I think it is still possible to do better, like in my example of `diff -u <(echo '^^^^^^^^^^') <(echo '^^^^^^^^^^^^^^^')` above I believe most people would perceive this as characters added to the end of the line rather than characters inserted at the beginning, i.e.

[2019-11-27 06:29] mookid commented on #27
The worst case scenario I have seen is the fwllowing diff:
https://github.com/git/git/commit/786dabecd4766bfda0083491ef543e3b5d1d9f39

for which the perf goes from ~13s to ~55s on my dev machine, which is pretty bad. In the wost case, the time of both postprocessing steps takes roughly the same time as the Myers algorithm.

I can still improve the postprocessing algorithm, but I think there will s

[2019-11-27 06:44] dtolnay commented on #27
Thanks, that sounds like it wouldn't be a problem for my use case since the diffs I deal with are going to be ~40 lines max. I wasn't sure if you had some kind of quintic loop going on where a 40 lines diff could take multiple seconds. But obviously if you can improve the performance that would be great!

Thanks for your work on this!

[2019-11-27 18:11] mookid commented on #27
Ok, good to know! I don't think it will be a problem for that use case.

[2019-12-08 15:20] mookid commented on #27
I published diffr-lib 0.1.3.  Please let me know how it works for you!

[2019-12-08 15:20] #27 closed

[2019-12-08 23:45] ElieGouzien opened #39 "Support for diff3"
It would be nice if `diffr` could support diff3 as generated by git during merges.
Currently it simply ignores changes from on side.

[2019-12-09 13:51] mookid commented on #39
Hi @ElieGouzien,

I see on the --help page of git that it produces something like
[code]

which seems different from what is traditionally designated as diff3 format.  Which one are you referring to?

[2019-12-09 14:06] ElieGouzien commented on #39
You are right, I was thinking about the one from git.
Lines like
[code]
are not considered by diffr as a diff due to the leading space.

Sorry for the confusion.

[2019-12-11 10:51] grossjohann opened #40 "Documentation: wrong syntax description"
`diffr --help` prints this:

[code]

This means that a `color_spec` always ends with a colon, but I'm sure this wasn't intended.  Maybe reword like this:

[code]

This is more restrictive than the original grammar because it requires at least one attribute.  I don't know if that matches the implementation.  But it would be easy to fix by allowing `color_spec` to expand to either a bare `face-name`

[2019-12-11 10:56] grossjohann opened #41 "Feature request: support configuration via environment variable or config file"
I think it would be convenient if the `--colors` parameter wasn't the only way to customize the colors.  Maybe if `--colors` is not provided, look in an environment variable?  I guess using a config file is over-engineered.

For the time being, a short wrapper shell script will do the trick, of course.

[2019-12-11 17:55] mookid commented on #40
Great catch! The doc change you suggest is definitely what I had in mind.  Would you submit a PR for that?

[2019-12-12 22:23] #40 closed

[2019-12-12 22:24] mookid commented on #40
thanks!

[2019-12-13 08:47] grossjohann commented on #40
Thank you very much!

[2020-01-05 16:14] mookid commented on #21
#44

[2020-01-05 16:14] #21 closed

[2020-01-09 19:00] #24 closed

[2020-01-13 19:56] #18 closed

[2020-01-13 20:19] rpdelaney commented on #18
Thank you for running this down so diligently! Love this tool :)

[2020-01-13 21:24] mookid commented on #18
I plan another trick in my bag for arbitrary ANSI escape code; stay tuned ;)

[2020-02-05 21:06] rpdelaney opened #46 "Support `--side-by-side` switch"
I'm not getting diffr highlighting when using `colordiff -y foo bar | diffr`. Would be neat to support that also.

[2020-02-06 00:54] mookid commented on #46
I assume that colordiff -y makes the splitting.

I think that the parsing would be too tedious to be honest. Another possibility would be to implement the side-by-side rendering in diffr, but it is out of reach given the capabilities of the terminal currently used.

Anyway, I would be very curious to see anyone giving that a try :)

[2020-02-06 01:15] rpdelaney commented on #46
Yeah `-y` is short for `--side-by-side`. `colordiff` isn't necessary, that's just muscle memory on my part. GNU `diff` is the same.

I could give it a shot except rust isn't (yet) my jam.

[2020-03-19 18:55] rpdelaney commented on #18
Any chance there will be a release soon? I'm turning some of my colleagues on to using this with some styles I worked out for diffing terraform (since `terraform-fmt` constantly makes whitespace changes for alignment) but the releases in homebrew / AUR do not have all the features in the tip.

[2020-03-19 20:36] mookid commented on #18
@rpdelaney done!

[2020-03-22 05:09] rpdelaney commented on #18
https://github.com/Homebrew/homebrew-core/pull/51959

[2020-03-26 10:54] mookid opened #48 "Hightlight tab characters / trailing whitespaces"
It might be useful to highlight tab characters (if only for Makefiles).

Also git allows to highlight trailing whitespaces, which is lost in diffr (because we trim all color codes).

[2020-04-17 09:54] ghuls opened #49 "diffr highlights the whole lies instead of the last character of each line."
diffr highlights the whole lies instead of the last character of each line:

[code]

[2020-04-17 17:09] mookid commented on #49
@ghuls this is by design; highlighting units stops at word boundary (for some definition of word). Here each line is a whole word. see https://github.com/mookid/diffr/blob/77b9a2b/diffr-lib/src/lib.rs#L555.

[2020-05-23 16:25] mookid commented on #33
All are now fixed in the current version, closing.

[2020-05-23 16:25] #33 closed

[2020-05-23 16:29] mookid commented on #41
I think that the program is not complex enough to enough to justify a config file for now.

[2020-05-25 15:27] ecm-pushbx opened #53 "Fails to compile with rustc 1.34.2 due to using ".copied""
On an older server running Debian 9 with rustc 1.34.2, pulling the latest git commit and building it fails with the error `error[E0658]: use of unstable library feature 'iter_copied' (see issue #57127)` due to the change in https://github.com/mookid/diffr/commit/9666edc502c44f2b0d794c6c2cb3af5fa3fe0fb7

I was able to patch the source to undo that change, leading to it successfully building. I used

[2020-05-25 15:33] mookid commented on #53
Thanks for the report. You can then revert the last commit that introduces these changes without functional change.

The change is more cosmetic than anything else.

[2020-05-26 11:37] #53 closed

[2020-06-27 13:36] mookid opened #58 "Improve highlighting of commented code"
On the following example:

[code]

[2020-07-11 22:01] waldyrious commented on #41
@mookid please reconsider. I've been following the development of a [similar tool](https://github.com/dandavison/delta), and since they [introduced](https://github.com/dandavison/delta/issues/205#issuecomment-650376930) git-config-based customization, the tool has been much more convenient to use and to tweak.

For reference, here's the invocation I currently have to use to tweak diffr's colors to

[2020-07-13 19:18] mookid commented on #41
Hi @waldyrious, reopening. I won't say that this is high in my priority list, but could land sometime. The .gitconfig is indeed a nice place where to put the config if that's possible (even if I a not thrilled about being git specific).

[2020-07-13 21:26] grossjohann commented on #41
@waldyrious I wonder what you think about the compromise to put the long command line into the git config?

[code]

[2020-07-13 21:39] waldyrious commented on #41
It is, as you say, a workaround. It works, of course, but I'd like to be able to tweak the configuration more easily than editing a long string with a custom grammar. Using separate configuration entries makes the configuration easier to write, and easier to read. Also, it could reuse the same formatting specifications that git already uses, so that would be one less DSL to learn.

[2020-07-15 18:32] mookid opened #63 "Improve diffr-lib example"
+ make it a proper cargo example
+ test that it compiles in CI
+ make it smaller

[2020-09-25 13:19] mookid opened #64 "hunk header parsing failure"
example failed parse:

@@@ -54,9 -55,9 +55,13 @@@

this happens during merges.

[2020-09-25 14:28] #64 closed

[2020-10-23 19:22] jedahan opened #67 "Show example of how to configure git to use diffr by default?"
I was able to use `GIT_PAGER=diffr` but then its not actually paging. Would be cool to see some examples of how to do this.

[2020-10-23 19:51] waldyrious commented on #67
@jedahan are you perhaps looking for [this](https://github.com/mookid/diffr#integration-with-git)?

I prefer setting configs via the command line than by editing the gitconfig file, so here's how I did it in my experiments:

`git config --global core.pager 'diffr | less -R'`

or, to use something more elaborate:

`git config --global core.pager 'diffr --colors refine-removed:foreground:black:nobol

[2020-10-23 19:55] waldyrious commented on #67
See also #41 and #62.

[2020-10-23 20:01] jedahan commented on #67
I am blind; yes that works, thank you.

[2020-10-23 20:01] #67 closed

[2020-11-18 02:43] mookid opened #69 "Tabs do not play well with --line-numbers"
![image](https://user-images.githubusercontent.com/7757342/99476125-4237ae80-2950-11eb-82e8-fb1f98e1c7d2.png)

[2020-11-26 21:53] voidpin opened #70 "diffr available on NetBSD"
FYI, I've packaged and merged `diffr` on NetBSD, https://mail-index.netbsd.org/pkgsrc-changes/2020/11/26/msg224598.html
Thx!

[2020-11-27 10:01] mookid commented on #70
Thanks so much!

[2020-11-27 16:21] #70 closed

[2021-01-19 09:44] xeruf commented on #41
@grossjohann if you also want to use it in `core.pager` then you'd have to duplicate it or use an external script :/

[2021-01-19 09:55] xeruf opened #72 "Improve default coloring contrast"
IntelliJ Idea Terminal:
<img width="665" alt="image" src="https://user-images.githubusercontent.com/13354331/105017129-bc191080-5a43-11eb-8c4a-a813e26eef9c.png">
<img width="464" alt="image" src="https://user-images.githubusercontent.com/13354331/105017226-d3f09480-5a43-11eb-994c-cbb9f579c54b.png">
Konsole:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/13354331/105017

[2021-01-19 10:11] mookid commented on #72
I see the same thing from vscode; there I added "terminal.ansiBrightWhite": "#EEEEEE" in the config.

default:
![image](https://user-images.githubusercontent.com/7757342/105019978-02bc3a00-5a47-11eb-96cd-d0ceff392931.png)

with the new setting:
![image](https://user-images.githubusercontent.com/7757342/105019933-f637e180-5a46-11eb-9788-9d7a50d6561d.png)

does that help?

[2021-01-19 10:47] xeruf commented on #72
it seems that ansi white is already supposed to be white in the terminal:
<img width="1368" alt="image" src="https://user-images.githubusercontent.com/13354331/105024022-e79ff900-5a4b-11eb-838f-ed6d9e127ba4.png">

either way, that doesn't change the fact that even in a normal terminal the contrast of pure white on bright green is barely legible

[2021-01-19 10:52] mookid commented on #72
in that case, you should use the appropriate flags to change the foreground color to something you like; it is unlikely that a single set of default settings is perfect for each scenario.

[2021-01-19 10:58] #69 closed

[2021-01-19 11:49] xeruf commented on #72
can you show me any case where white on green works well? None of the screenshots in this thread indicate that.

[2021-01-19 15:44] mookid commented on #72
the second screenshot I posted renders as intended.

The option to change to almost any styling available in the console is given via the --colors flag, so that users are not stuck because of defaults.

About the defauIt config, I welcome any proposal, under the following constrains:
- the same config should work out of the box on all supported OSs (which limits to a 16 colors palette because of t

[2021-01-20 09:52] xeruf commented on #72
yes, I know that that is the currently intended state, but we can agree that white on bright green is not sufficient contrast?

Does the default currently use ANSI green or bright green? I think simply using a darker color (ideally still green) as background would be fine.

[2021-04-08 12:20] figgis opened #76 "Question about highlighting trailing WS"
Is there a a way to highlight trailing ws in git logs using diffr?
I have a few commits that failed on jenkins due to the fact that I've missed those since ws is indistinguishable from normal changes and doesn't stand out except that lines are a tad longer...

This is what i'm using today

[code]

[2021-04-13 22:01] mookid commented on #63
diffr-lib is no longer maintained.

[2021-04-13 22:01] #63 closed

[2021-04-13 22:11] mookid commented on #76
this is the current output:

![image](https://user-images.githubusercontent.com/7757342/114627612-d0248500-9cb5-11eb-982c-e731f6d368dc.png)

What improvement do you expect?

[2021-04-20 20:01] figgis commented on #76
Looks perfect! But I don't get that with with my settings. hat Am I missing?

[2021-04-23 17:47] mookid commented on #76
this is not handled by diffr, the red background on whitespaces is emitted by git; it should be visible when you run git diff without diffr already.

if not, is https://stackoverflow.com/questions/5257553/coloring-white-space-in-git-diffs-output helpful?

[2021-04-28 19:37] mookid commented on #76
closing for now, please feel free to reopen if needed.

[2021-04-28 19:37] #76 closed

[2021-08-25 13:12] bgshacklett opened #78 "Ignore word-level diff on new or deleted lines"
Can word-level diff be ignored for lines which are completely new or completely removed from a given diff? With the default configuration, added/removed lines are highlighted in there entirety.

[2021-12-06 09:43] jgarte opened #79 "Failing Tests"
Hi, The following tests fail for me when building:

[code]

Do you happen to know how I can make them pass?

[2022-01-23 21:26] mookid commented on #79
hello @jgarte ,
yes, those tests assume that the binary exists; if I recall correctly you need to do `cargo build` (or `cargo build --release`, I can't check at the moment on my machine) before running it.

[2022-01-23 21:30] mookid commented on #78
sure! I think that it would be an easy enough change to make. Maybe defining a new style for added/removed entire lines is what you want.

I don't have time to work on it myself, but I would be glad to review and merge the change it it were written :)

[2022-02-19 08:47] sskras commented on #49
Can it be extended to stop highlighting at character boundary?

It would make less distractions when comparing hexdumps of binaries:
https://asciinema.org/a/470116

[2022-02-19 23:42] mookid commented on #49
@sskras great demo!

let's reopen and see if anyone is up to the task.

[2022-02-19 23:56] sskras commented on #49
Thanks.

It sounded a bit like I will need to learn Rust a bit, though=)
The idea would be to add some new CLI switch for that.

[2022-03-29 11:14] sskras opened #80 "Inserted code line messes up the downwards coloring"
If I write this Python code:
[code]

... and then extend it by inserting a new line and modifying the last two lines the following way:
[code]

Then I get some strange output:
![image](https://user-images.githubusercontent.com/7887758/160597326-9bbd5258-00ba-4852-b174-a675ec8a2489.png)

The second `subprocess.call()` line is colored correctly.
But the first `subprocess.call()` line seems to get ex

[2022-04-07 16:16] lucas-mior opened #81 "how to use with git commit --verbose?"
When running `git commit --verbose` git opens vim with
the diff so you can see whats being commited.
But this diff is not filtered using diffr.
I searched on the git documentation and could not find anything.

[2022-04-09 20:32] mookid commented on #81
you need to convince vim to interpret ansi color codes.
Otherwise you could write another formatter for colors (an existing alternative one exists that emits html)

[2022-05-11 10:07] xeruf opened #82 "Default parameters from environment variable"
I always use a certain set of switches (`--colors refine-added:none:background:0x33,0x66,0x33:bold --colors added:none:background:0x33,0x44,0x33 --colors refine-removed:none:background:0x66,0x33,0x33:bold --colors removed:none:background:0x44,0x33,0x33`) and would like to have that whereever I invoke diffr, currently I have to always work with aliases. An environment variable for default flags as

[2022-09-07 20:26] mlncn commented on #14
I'm hitting diffs where `git add -p` can take hours, and it took a while to realize diffr was the cause— i had gotten used to beautiful, useful diffs and forgotten i was not on git standard.

One thing i do not understand is why it has seemingly suddenly gotten much worse for me.  As in, in just the last week, went from never thinking about it (effectively instant) to being completely unusable, ac

[2022-09-07 20:58] mookid commented on #14
sorry about the bad experience.
of course, if you have a reproduction case, I would be very happy to have a look.

An relatively easy way to proceed would be to periodically check for maximal processing time for a given hunk, and bail if necessary (and fallback to the default diff processing)

I will most likely no do the coding myself (my company is not very supportive of open source at all) but